*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu{
    background-color: black;
    align-items: center;
    margin: 0px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1em 1fr;
    img{
        border-radius: 60px;
        margin-left: 30%;
        margin-right: 30%;
    }
    p{
        text-align: center;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .search-box{
        font-family: "poppins";
        align-items: center;
        background: var(--input-bg);
        border-radius: 5px;
        padding: 0.75rem;
        max-width: 22rem;
        height: fit-content;
        width: 100%;
        box-shadow: rgb(149, 157, 165,);
        margin-top: 10%;
    }
    .row{
        display: flex;
        align-items: center;
    }
    button{
        background: transparent;
        border: 0;
        outline: 0;

    }
    .search-box svg{
        stroke: var(--text);
        
    }
    a{
        text-decoration: none;
        color: white;
        text-align: center;
        margin: 30%;
    }
}

.productos{
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1em 1fr;
    item{
        grid-column: 1/1;
        
    }
}