*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu{
    background-color: black;
    align-items: center;
    margin: 0px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1em 1fr;
    img{
        border-radius: 60px;
        margin-left: 30%;
        margin-right: 30%;
    }
    p{
        text-align: center;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    a{
        text-decoration: none;
        color: white;
        text-align: center;
        margin: 30%;
    }
}

.cont-busca{
    width: 100%;
    

}

.search-box{
    display: flex;
    justify-content: center;
    font-family: "poppins";
    align-items: center;
    background: var(--input-bg);
    border-radius: 5px;
    padding: 15px;
    height: fit-content;
    width: 100%;
    box-shadow: rgb(149, 157, 165,);
}
.row{
    display: flex;
    align-items: center;
    input{
        padding: 10px;
        width: 1000px;
        height: 50px;
    }
    
}
button{
    background: transparent;
    border: 0;
    outline: 0;

}
.search-box svg{
    stroke: var(--text);
}

.results{
    max-height: 20rem;
    overflow-y: auto;
}

.results ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 0.23rem;
}
.productos{
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1em 1fr;
    item{
        grid-column: 1/1;
        width: 244px;
        height: 334px;
        border-radius: 5px;
    }
    img{
        border-radius: 10px;
    }
}

.saludo{
    text-align: center;
    width: 100%;
    font-family: 'Arial', "boldonse-regular";
    p{
       font-size: 80px;
    }
}

